<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header id="header">
        <button onclick="showLeftMenu()"><i class="fa fa-bars"></i></button>   
        <img src="../src/tien.png" width="30px" height="30px"/>
    </header> 
    <aside id="left-menu">
        <header>
            <a href="/home.html" ><i class="fa fa-home"></i></a>
            <button onclick="closeLeftMenu()"><i class="fa fa-close"></i></button>
        </header>  
        <hr />
        <nav>
            <ul>
                <li>
                    <h3>English learning</h3>
                    <ul>
                        <li><a href="/ipa/ipa.html">IPA</a></li>
                        <li><a href="/video/watching.html">Video Watching</a></li>
                        <li><a href="/document/reading.html">Document Reading</a></li>
                    </ul>
                </li>
                <hr/>
            </ul>
        </nav>       
    </aside>
    <main>
        <div id="player">
            <div class="tab">
                <button class="tab-links active" onclick="showSymbolGuide(event, 'symbol-video')">Video</button>
                <button class="tab-links" onclick="showSymbolGuide(event, 'symbol-image')">Image</button>
            </div>
            <video width="100%"controls id="symbol-video" class="tab-content">
                <source src="../src/1.webm" type="video/webm">
            </video>
            <img src="../src/tien.png" width="100%" id="symbol-image" class="tab-content"/>
            <h3>Exam</h3>
        </div>   
        <table id="symbols">
            <caption><h3>Symbols</h3></caption>
            <tr><th colspan="2" rowspan="2">Vowel</th><td>b</td><td>a</td><td>b</td></tr>
            <tr><td>c</td><td>b</td><td>a</td><td>b</td></tr>
            <tr><td>a</td><td>b</td><td>a</td><td>b</td></tr>
            <tr><td class="active">a</td><td>b</td><td>a</td><td>b</td></tr>
            <tr><td>a</td><td>b</td><td>a</td><td>b</td></tr>
        </table>
    </main>
    <script src="./scripts.js"></script>
</body>
</html>