######################
# Eclipse
######################
ss/.project
ss/.classpath
ss/.settings/

######################
# Maven
######################
ss/target/
ss/template/libs
######################
