<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SymbolController</servlet-name>
  	<display-name>SymbolController</display-name>
  	<description></description>
  	<servlet-class>quynh.java.sm.langlearning.english.controller.SymbolController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SymbolAPIController</servlet-name>
  	<display-name>SymbolAPIController</display-name>
  	<description></description>
  	<servlet-class>quynh.java.sm.langlearning.english.controller.SymbolAPIController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VideoWatchingController</servlet-name>
  	<display-name>VideoWatchingController</display-name>
  	<description></description>
  	<servlet-class>quynh.java.sm.langlearning.english.controller.VideoController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EnglishManage</servlet-name>
  	<display-name>EnglishManage</display-name>
  	<description></description>
  	<servlet-class>quynh.java.sm.langlearning.english.controller.EnglishManageController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VideoGroup</servlet-name>
  	<display-name>VideoGroup</display-name>
  	<description></description>
  	<servlet-class>quynh.java.sm.langlearning.english.controller.VideoGroupAPIController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EnglishManageAPIController</servlet-name>
  	<display-name>EnglishManageAPIController</display-name>
  	<description></description>
  	<servlet-class>quynh.java.sm.langlearning.english.controller.EnglishManageAPIController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VideoAPIController</servlet-name>
  	<display-name>VideoAPIController</display-name>
  	<description></description>
  	<servlet-class>quynh.java.sm.langlearning.english.controller.VideoAPIController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WordAPIController</servlet-name>
  	<display-name>WordAPIController</display-name>
  	<description></description>
  	<servlet-class>quynh.java.sm.langlearning.english.controller.WordAPIController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SymbolController</servlet-name>
  	<url-pattern>/langlearning/english/symbol/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SymbolAPIController</servlet-name>
  	<url-pattern>/langlearning/english/symbol/api/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VideoWatchingController</servlet-name>
  	<url-pattern>/langlearning/english/video/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EnglishManage</servlet-name>
  	<url-pattern>/langlearning/english/manage/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VideoGroup</servlet-name>
  	<url-pattern>/langlearning/english/video-group/api/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EnglishManageAPIController</servlet-name>
  	<url-pattern>/langlearning/english/manage/api/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VideoAPIController</servlet-name>
  	<url-pattern>/langlearning/english/video/api/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WordAPIController</servlet-name>
  	<url-pattern>/langlearning/english/word/api/</url-pattern>
  </servlet-mapping>
</web-app>
