@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#wrapper {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 70px 1fr;
	grid-template-rows: 70px 1fr;
}

#l-logo {
	grid-column: 1/2;
	grid-row: 1/2;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

#l-menutop {
	grid-column: 2/3;
	grid-row: 1/2;
	border-bottom: 1px solid #ddd;
}

#l-menuleft {
	grid-column: 1/2;
	grid-row: 2/3;
	overflow: auto;
	border-right: 1px solid #ddd;
}

#l-content {
	grid-column: 2/3;
	grid-row: 2/3;
	background-color: var(--ss-bg-content);
}
.span-hover:hover {
	cursor: pointer;
	background-color: #bbb;
}