<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Quynh Phung SS</display-name>
  <servlet>
  	<servlet-name>VideoLearnPage</servlet-name>
  	<display-name>Video Learning</display-name>
  	<description></description>
  	<servlet-class>qyn.javaweb.ss.englearn.controller.VideoLearnController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IPASymbol</servlet-name>
  	<display-name>IPASymbol</display-name>
  	<description></description>
  	<servlet-class>qyn.javaweb.ss.englearn.ipa.controller.IPASymbolAPIController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VideoLearnAPIController</servlet-name>
  	<display-name>VideoLearnAPIController</display-name>
  	<description></description>
  	<servlet-class>qyn.javaweb.ss.englearn.controller.VideoLearnAPIController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VideoLearnGroupAPIController</servlet-name>
  	<display-name>VideoLearnGroupAPIController</display-name>
  	<description></description>
  	<servlet-class>qyn.javaweb.ss.englearn.controller.VideoLearnGroupAPIController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WordAPIController</servlet-name>
  	<display-name>WordAPIController</display-name>
  	<description></description>
  	<servlet-class>qyn.javaweb.ss.englearn.word.controller.WordAPIController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NoteAPIController</servlet-name>
  	<display-name>NoteAPIController</display-name>
  	<description></description>
  	<servlet-class>qyn.javaweb.ss.note.controller.NoteAPIController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BlogController</servlet-name>
  	<display-name>BlogController</display-name>
  	<description></description>
  	<servlet-class>qyn.javaweb.ss.blog.controller.BlogController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BlogAPIController</servlet-name>
  	<display-name>BlogAPIController</display-name>
  	<description></description>
  	<servlet-class>qyn.javaweb.ss.blog.controller.BlogAPIController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WordKnownAPIController</servlet-name>
  	<display-name>WordKnownAPIController</display-name>
  	<description></description>
  	<servlet-class>qyn.javaweb.ss.englearn.word.controller.WordKnownAPIController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EngReadingController</servlet-name>
  	<display-name>EngReadingController</display-name>
  	<description></description>
  	<servlet-class>qyn.javaweb.ss.englearn.reading.controller.EngReadingController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VideoLearnPage</servlet-name>
  	<url-pattern>/englearn/video-learn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IPASymbol</servlet-name>
  	<url-pattern>/englearn/api/ipa-symbols/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VideoLearnAPIController</servlet-name>
  	<url-pattern>/englearn/api/video-learns/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VideoLearnGroupAPIController</servlet-name>
  	<url-pattern>/englearn/api/video-learn-groups/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WordAPIController</servlet-name>
  	<url-pattern>/englearn/api/words/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NoteAPIController</servlet-name>
  	<url-pattern>/note/api/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BlogController</servlet-name>
  	<url-pattern>/blog/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BlogAPIController</servlet-name>
  	<url-pattern>/blog/api/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WordKnownAPIController</servlet-name>
  	<url-pattern>/englearn/word-known/api/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EngReadingController</servlet-name>
  	<url-pattern>/englearn/reading/</url-pattern>
  </servlet-mapping>
</web-app>
